# Thư mục cấu hình VS
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Các file log và temp
*.log
*.tlog
*.tmp
*.bak
*.swp

# Các file publish
publish/

# Các thư mục test hoặc result
TestResults/
*.VisualState.xml

# Các file cache
*.cache
*.dbmdl
*.psess
*.vspx
*.vsp
*.pdb

# Tệp cấu hình IDE khác
*.vscode/
